@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Rubik-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Rubik-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Rubik", sans-serif;
  font-weight: 400px;
  font-size: 13px;
}

@media(max-width: 1200px) {
  body {
    max-width: 992px;
  }
}

@media(max-width: 992px) {
  body {
    max-width: 768px;
  }
}

@media(max-width: 768px) {
  body {
    max-width: 576px;
  }
}

@media(max-width: 576px) {
  body {
    max-width: 360px;
  }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
